<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Tech-Fest</title>
    <link rel="stylesheet" href="public/css/style.css"> 
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
    <!-- Header -->
  <%- include('./partials/header')%>
    <h2>About Our Fest</h2>
    <p>Tech-Fest is the biggest college tech festival with amazing events.</p>

</body>
</html>
